@charset "UTF-8";
footer {
    position: relative;
    bottom: 0;
    left: 0;
    height: 100px;
    width: 100%;
}

/* 본문 내용을 푸터 아래에 내리기 */
body {
    margin-bottom: 100px; /* 푸터의 높이만큼 아래 여백 추가 */
}
