@charset "UTF-8";
 footer {
            margin-top: 100px;
            position: fixed;
            bottom: 0;
            width: 100%;
            text-align: center;
            padding: 15px 0;
        }