@charset "UTF-8";
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background-color: #f0f0f0; /* 푸터 배경색 설정 (원하는 색상으로 변경 가능) */
    z-index: 999; /* 다른 요소 위로 표시 (필요한 경우) */
}

/* 본문 내용을 푸터 아래에 내리기 */
body {
    margin-bottom: 100px; /* 푸터의 높이만큼 아래 여백 추가 */
}
