<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="com.cp.user.member.vo.MemberVO" alias="member"/>
		<typeAlias type="com.cp.user.corp.vo.CorpVO" alias="corp" />
		<typeAlias type="com.cp.user.pickmoney.vo.PickmoneyVO" alias="pickmoney"/>
		<typeAlias type="com.cp.user.point.vo.PointVO" alias="point"/>
	</typeAliases>
	
</configuration>