<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.cp.user.cart.vo.CartVO" alias="cart" />
		<typeAlias type="com.cp.user.menu.vo.MenuVO" alias="menu" />
		<typeAlias type="com.cp.user.cart.vo.CartDetailVO" alias="cartDetail" />
		<typeAlias type="com.cp.user.store.vo.StoreVO" alias="store" />   
		<typeAlias type="com.cp.user.member.vo.MemberVO" alias="member" /> 
		<typeAlias type="com.cp.user.order.vo.OrderVO" alias="order" />  
		<typeAlias type="com.cp.user.order.vo.OrderDetailVO" alias="orderDetail" />     
	</typeAliases>
</configuration>